/* uni */
body {
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.box {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  align-items: center;
}

.right {
  flex: 2;
}

/* BUTTONS */
#reset-button {
  background-color: red;
  color: white;
  padding: 10px 80px;
  border-radius: 10px;
}
#eraser-button {
  background-color: red;
  color: white;
  padding: 10px 80px;
  border-radius: 10px;
}
/* whiteboard */

.main-container {
  background-color: white;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16,1fr);
} 

.grid-item {
  background-color: gray;
}