/* uni */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(248, 228, 228);
  font-family: Roboto, sans-serif;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}
.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1100px;
  gap: 100px;
  margin: 0 auto;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}
.left button {
  margin-bottom: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
.slider-container {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}
/* BUTTONS */
button {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid transparent;
  animation: buttonBorder 3s infinite alternate;
}
#reset-button, #eraser-button, #color-mode-button {
  background-color: transparent;
  color: red; /* BUTTON TEXT COLOR */
  padding: 10px 80px;
  border-radius: 10px;
}
#color-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#reset-button:hover, #eraser-button:hover, #color-mode-button:hover {
  background-color: lime;
  color: red;
  border-color: salmon;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.3s ease, border-color 3s;
}
#eraser-button.active {
  background-color: red;
  color: white;
  border: 2px solid lime;
}
/* WHITEBOARD */
.main-container {
  background-color: white;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64,1fr);
  border: 3px solid black;
} 
.grid-item {
  flex-grow: 1;
  background-color: white;
}
/* COLOR WHEEL */
.color-wheel-container {
  width: 200px; 
  height: 200px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.color-wheel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    red,
    yellow,
    lime,
    cyan,
    blue,
    magenta,
    red
  );
  cursor: crosshair;
}
.selected-color {
  margin-top: 10px;
  width: 150px;
  height: 10px;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
}
/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  overflow: hidden;
  border-top: 3px solid transparent;
  animation: waveBorder 2s linear infinite alternate; /* use keyframe animation */
}
.footer a {
  color: currentColor;
}
/* KEYFRAMES */
@keyframes waveBorder {
  0% {
    border-top: 1px solid transparent;
    transform: translateY(3);
    color: red;
  }
  100% {
    border-top: 1px solid lime;
    transform: translateY(-3px);
    color: rgb(248, 228, 228);
  }
}
@keyframes buttonBorder {
  0% {
    border: 1px solid red;
    color: lime;
  }
  100% {
    border: 1px solid lime;
    color: red;
  }
}