/* uni */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(248, 228, 228);
  font-family: Roboto, sans-serif;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}
.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1100px;
  gap: 100px;
  margin: 0 auto;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}
.left button {
  margin-bottom: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
/* BUTTONS */
#reset-button {
  background-color: transparent;
  color: black;
  padding: 10px 80px;
  border-radius: 10px;
}
#eraser-button {
  background-color: transparent;
  color: black;
  padding: 10px 80px;
  border-radius: 10px;
}
#reset-button:hover, #eraser-button:hover, #color-mode-button:hover {
  background-color: lime;
  color: red;
  border-color: salmon;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.3s ease, border-color 3s;
}
#eraser-button.active {
  background-color: red;
  color: white;
  border: 2px solid lime;
}
#color-mode-button {
  background-color: transparent;
  color: black;
  padding: 10px 80px;
  border-radius: 10px;
  display: block;
}
button {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
/* whiteboard */
.main-container {
  background-color: white;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64,1fr);
  border: 3px solid black;
} 
.grid-item {
  flex-grow: 1;
  background-color: white;/* background color for individual divs inside main container */
}